.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

#formPage {
  max-width: 33%;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 40%;
  margin-top: 5%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: orange
}

.title {
  background-color: orange
}

#left{
  max-width: 35%;
  margin-right: 10%;
  margin-left: 10%;
 

}
#right{
  max-width: 35%;
  margin-right: 10%;
}

img{
  border: 2px solid black;
  border-radius: 4px;
  min-width: 500px;
  min-height: 300px;
  max-width: 500px;
  max-height: 300px;
}

#centre{
  max-width: 20px;
  margin-right: 150px;
  background-color:orange;
}

#title {
  text-align: center
}

#searchBar{
  margin-left: 33%;
  padding-bottom: 50px;
max-width: 40%;
}

#navy {
  display: flex;
  float: left;
  width: 100%;
  padding-left: 30px;
}

#lol{
  padding-left: 30px;
  padding-right: 30px;
}