.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}


a {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: normal;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
}
h2 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 60px;
}

#logo {
  border: 0px;
  height: 320px;
}

#formPage {
  max-width: 33%;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 40%;
  margin-top: 5%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: orange
}

.title {
  background-color: white
}

#righttitle {
  color: red;
  text-align: center;
  font-size: 40px;
}

#lefttitle {
  color: blue;
  text-align: center;
  font-size: 40px;
}

#rule {
  height: 5px;
    border-style: solid;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px ;

}

#left{
  max-width: 48%;
  margin-right: 2%;
  margin-left: 2%;


}
#right{
  max-width: 48%;
  margin-right: 2%;
}

#newsimage{
  padding-top: 10px;
  min-width: 700px;
  min-height: 450px;
  max-width: 500px;
  max-height: 300px;
  filter: grayscale(80%);
}

#centre{
  max-width: 3px;
  margin-right: 20px;
  background-color:black;
  padding: 0;
}

#title {
  text-align: center
}

#searchBar{
  margin-left: 33%;
  padding-bottom: 50px;
max-width: 40%;
}

#navy {
  display: flex;
  float: left;
  width: 100%;
  padding-left: 40px;
}

#headerlinks{
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
